@import './normalize.scss';
@import './variables/borders.scss';
@import './variables/colors.scss';
@import './variables/typography.scss';

body {
   font-family: var(--ff-default);
   font-size: var(--fs-default);
   font-weight: var(--fw-default);
   color: rgb(var(--color-dark));
   background-size: 40px 40px;
   background-image: linear-gradient(to right, #eee8 1px, transparent 1px),
      linear-gradient(to bottom, #eee8 1px, transparent 1px);
   &::-webkit-scrollbar {
      display: none;
   }
   &.block {
      overflow: hidden;
   }
}

.container {
   width: 1200px;
   padding: 0 20px;
   margin: 0 auto;
}
