.field {
   position: relative;
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   &__input {
      width: 100%;
      padding: 6px 8px;
      border: var(--border-default) rgba(var(--color-dark), 0.3);
      transition: border-color ease 0.3s;
   }
   &__input:focus {
      border-color: rgb(var(--color-primary));
   }
   &:hover {
      .field__input {
         border-color: rgb(var(--color-primary));
      }
   }
}
