.field {
   position: relative;
   overflow: hidden;
   &__input {
      width: 100%;
      padding: 10px;
      border: var(--border-default) rgba(var(--color-dark), 0.3);
      border-radius: var(--border-radius-default);
      transition: border-color ease 0.3s;
   }
   &__controls {
      position: absolute;
      top: 0;
      right: 0;
   }
   &__button {
      padding: 2px 6px;
      display: flex;
      color: rgba(var(--color-dark), 0.4);
      border-left: var(--border-default) rgba(var(--color-dark), 0.2);
      opacity: 0;
      transition: opacity ease 0.3s;
      &:hover {
         color: rgb(var(--color-dark));
      }
   }
   &:hover {
      .field__input {
         border-color: rgb(var(--color-primary));
      }
      .field__button {
         opacity: 1;
      }
   }
}
