:root {
   --color-primary: 0, 119, 255;
   --color-primary-active: 0, 95, 203;
   --color-primary-hover: 36, 138, 255;

   --color-light: 255, 255, 255;
   --color-dark: 36, 36, 36;
   --color-gray: 221, 221, 221;
   --color-error: 245, 81, 35;
}
