.bubble {
   position: absolute;
   width: 2px;
   height: 2px;
   border-radius: 100%;
   transform: translate(-50%, -50%);
   animation: bubbleDefault 0.6s linear normal;
}

@keyframes bubbleDefault {
   0% {
      width: 0;
      height: 0;
      background-color: rgb(var(--color-primary));
   }
   100% {
      width: 200px;
      height: 200px;
   }
}
@keyframes bubblePrimary {
   0% {
      width: 0;
      height: 0;
      background-color: rgb(var(--color-light));
   }
   100% {
      width: 200px;
      height: 200px;
   }
}

.button {
   position: relative;
   font-weight: var(--fw-large);
   color: rgba(var(--color-dark), 0.6);
   border: var(--border-default) rgb(var(--color-primary));
   overflow: hidden;
   &_primary {
      color: rgb(var(--color-light));
      background-color: rgb(var(--color-primary));
      transition: border-color ease 0.2s, background-color ease 0.2s;
      &:active,
      &:focus {
         border-color: rgb(var(--color-primary-active));
         background-color: rgb(var(--color-primary-active));
      }
      .bubble {
         animation: bubblePrimary 0.6s linear normal;
      }
   }
   &_default {
      border-color: rgba(var(--color-dark), 0.3);
      @media (any-hover: hover) {
         transition: border-color ease 0.3s, color ease 0.3s;
         &:hover {
            color: rgb(var(--color-primary));
            border-color: rgb(var(--color-primary));
         }
         &:active {
            border-color: rgb(var(--color-primary-active));
         }
      }
   }
   &_dashed {
      border-color: rgba(var(--color-dark), 0.3);
      border-style: dashed;
      @media (any-hover: hover) {
         transition: border-color ease 0.3s, color ease 0.3s;
         &:hover {
            color: rgb(var(--color-primary));
            border-color: rgb(var(--color-primary));
         }
      }
      &:active {
         border-color: rgb(var(--color-primary-active));
      }
   }
   &_text {
      border: none;
   }
   &_large {
      padding: 10px 12px;
   }
   &_normal {
      padding: 6px 8px;
   }
   &_small {
      padding: 4px 6px;
      font-size: var(--fs-small);
   }
   &_shape {
      &_circle {
         border-radius: 50%;
      }
      &_round {
         border-radius: var(--border-radius-default);
      }
   }
   &_ghost {
      background: transparent;
   }
   &_block {
      width: 100%;
   }
}
