.form {
   min-height: 30vh;
   &__controls {
      display: flex;
      align-items: center;
      gap: 14px;
      flex-wrap: wrap;
   }
   &__button {
      font-size: calc((1vh + 1vw));
      color: rgb(var(--color-light));
      border-color: rgb(var(--color-light));
      @media (min-width: 728px) {
         margin-bottom: 20px;
      }
   }
}
