.throw {
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: grid;
      grid-template-columns: 3fr 1fr;
      column-gap: 26px;
   }
}
.controls,
.output {
   display: flex;
   flex-direction: column;
   /*    @media (max-width: 1024px) {
      padding: 20px 0px 20px 16px;
   }
   @media (max-width: 728px) {
      padding: 14px 0px 14px 8px;
   } */
}
.controls {
   row-gap: 14px;
}
.output {
   padding-left: 16px;
   row-gap: 14px;
   font-size: var(--fs-large);
   color: rgb(var(--color-dark));
   border-left: 2px solid rgb(var(--color-primary));
   @media (max-width: 728px) {
      padding-right: 8px;
      font-size: var(--fs-default);
   }
   &__wrapper {
      position: sticky;
      top: 30px;
      left: 0;
   }
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
   }
}
.menu {
   align-self: end;
   position: relative;
   &__button {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__dot {
      margin-top: -6px;
      position: relative;
   }
   &__dot::before,
   &__dot::after {
      content: '.';
      position: absolute;
      left: 0;
   }
   &__dot::before {
      top: -5px;
   }
   &__dot::after {
      top: 5px;
   }
   &__dropdown {
      width: 100px;
      border-radius: var(--border-radius-default);
      background-color: rgb(var(--color-light));
      position: absolute;
      bottom: -100%;
      right: 0;
   }
}
