label {
   cursor: pointer;
}

.disabled {
   opacity: 0.6;
}

.checkbox {
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: var(--border-default) rgba(var(--color-dark), 0.3);
   transition: border-color ease 0.3s;
   background: transparent;
   cursor: pointer;
   &:hover {
      border-color: rgb(var(--color-primary));
   }
   &__flag {
      width: 14px;
      height: 14px;
      transition: background-color ease 0.3s;
      position: relative;
      z-index: 0;
   }
   &,
   &__flag {
      border-radius: var(--border-radius-default);
   }
}

.wrapper {
   display: flex;
   gap: 4px;
   align-items: center;
   justify-content: center;
}

.input {
   position: absolute;
   opacity: 0;
   &:focus + .wrapper > .checkbox {
      border-color: rgb(var(--color-primary));
   }
   &:checked + .wrapper > .checkbox {
      border-color: rgb(var(--color-primary));
      & > .checkbox__flag {
         background-color: rgb(var(--color-primary));
      }
   }
}

.label {
   font-size: var(--fs-default);
}
