.output {
   display: flex;
   flex-direction: column;
   width: 25%;
   min-width: 185px;
   row-gap: 8px;
   &__title {
      text-align: center;
      font-weight: var(--fw-large);
   }
   &__field {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border: 1px solid rgb(var(--color-gray));
   }
}
