.damageForm {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   &__fields {
      display: flex;
      column-gap: 4px;
   }
   &__checkbox {
      padding: 4px;
      font-size: 10px;
      transition: all ease 0.3s;
      background-color: rgba(var(--color-dark), 0.08);
      border-radius: var(--border-radius-default);
      cursor: pointer;
      &_active {
         color: rgb(var(--color-light));
         background-color: rgb(var(--color-primary));
      }
   }
}
